<template>
  <div :class="{'col-12 col-md-6' : mode2x,'col-12': !mode2x}">
    <div v-if="!mode2x">
      <b-row>
        <h6 class="mx-auto mt-2" @dblclick="save($event)">{{title}}</h6>
        <!--<b-button size='sm' variant='light' class="sk" @click="save($event)">Save</b-button>-->
      </b-row>
      <b-row>
        <b-col md="8">
          <StackedBar :chart-data="barData" :height="heightChart" :formatter="bar.formatter||null"
                      :display="bar.display"
                      :tick="bar.tick"/>
        </b-col>
        <b-col md="2" cols="6">Last Year: ({{year}})
          <PieM :chart-data="peiDataLastYear" :height="170" :display="pie.display||null"
                :formatter="bar.formatter||null"/>
        </b-col>
        <b-col md="2" cols="6">Total ({{total}})
          <PieM :chart-data="pieDataAll" :height="170" :display="pie.display||3" :formatter="bar.formatter||null"/>
        </b-col>
      </b-row>
    </div>
    <div v-if="mode2x">
      <h6 class="mx-auto mt-2" @dblclick="save($event)">{{title + totalStr}}</h6>
      <StackedBar :chart-data="barData" :height="heightChart" :formatter="bar.formatter||null" :display="bar.display"
                  :tick="bar.tick"/>
    </div>
  </div>
</template>

<style>
  .sk{
    position: absolute;
    right: 0.75em;
  }
</style>
<script type="text/javascript">

import StackedBar from './StackedBar.vue'
import PieM from './Pie.vue'
import ChartJsPluginDataLabels from 'chartjs-plugin-datalabels'
import ChartJsPluginDeferred from 'chartjs-plugin-deferred'
import FileSaver from 'file-saver'
import setting from '@/data/setting'

export default {
  props: {
    stats: {
      default: {
        data: [],
        color: [],
        year: [],
        labels: [],
        stack: []
      }
    },
    bar: {default: () => { return {} }},
    pie: {default: () => { return {} }},
    title: {type: String}
  },
  components: {StackedBar, ChartJsPluginDataLabels, ChartJsPluginDeferred, PieM},
  methods: {
    save(i) {
      let canvas = i.target.getElementsByClassName('chartjs-render-monitor')
      if (canvas.length > 0) canvas = canvas[0]
      else {
        canvas = i.target.parentNode.parentNode.getElementsByClassName('chartjs-render-monitor')[0]
      }
      canvas.toBlob(function(blob) {
        FileSaver.saveAs(blob, 'image.png')
      })
    }
  },
  computed: {
    mode2x() {
      return setting.chart2x
    },
    heightChart() {
      let today = new Date()
      return 40 + setting.heightchart * (today.getUTCFullYear() - 2011)
    },
    pieDataAll() {
      return {
        labels: this.stats.labels,
        datasets: [{
          data: this.dataByParam.map(i => i.reduce((i, j) => i + j, 0)),
          backgroundColor: this.stats.color
        }]
      }
    },
    peiDataLastYear() {
      return {
        labels: this.stats.labels,
        datasets: [{
          data: this.dataByYear.slice(-1)[0],
          backgroundColor: this.stats.color
        }]
      }
    },

    barData() {
      return {
        labels: this.stats.year,
        datasets: _.zip(this.dataByParam, this.stats.color, this.stats.labels, this.stats.stack)
          .map(([data, color, label, stack]) => {
            return {label: label, data: data, stack: stack, backgroundColor: color}
          })
      }
    },
    barDataAll() {
      return {
        labels: ['ALL'],
        datasets: _.zip(this.dataByParam.map(i => _.sum(i)), this.stats.color, this.stats.labels, this.stats.stack)
          .map(([data, color, label, stack]) => {
            return {label: label, data: [data], stack: stack, backgroundColor: color}
          })
      }
    },
    dataByYear() {
      return this.stats.data
    },
    dataByParam() {
      return _.unzip(this.stats.data)
    },
    total() {
      let result = _.sum(_.flatten(this.dataByParam))
      if (result > 1000) return (result / 1000).toFixed(2)
      return result
    },
    totalStr() {
      return ` (Total: ${this.total})`
    },
    year() {
      let result = _.sum(this.dataByYear.slice(-1)[0])
      if (result > 1000) return (result / 1000).toFixed(2)
      return result
    }

  }
}
</script>
