<template>
<div class="colorhelper">
  <b-button variant='success'>Ground Land</b-button>
  <b-button variant='info'>Drone Land</b-button>
  <b-button variant='outline-info'>Ocean Land</b-button>
  <b-button variant='outline-dark'>Launch w/o landing</b-button>
  <b-button variant='outline-danger'>Fail Land</b-button>
  <b-button variant='danger'>Fail Launch</b-button>
  <b-button variant='light'>Upcoming Launch</b-button>
</div>
</template>
<style>
  .colorhelper > button {
    margin: 2px;
  }
</style>
