<template>
  <div v-if="style!==null" class="alert mt-1 countdown" :class="style">
    <span> Mission: {{mission}} - {{timeStr}}</span>
    <span>({{localTimeStr}})</span>
  </div>
</template>

<style>
  .countdown > span {
    display: inline-block;
  }
</style>

<script>
/*
Component don't use momentjs
If add momentjs in dependency, rewrite this
 */
import DataSource from '@/data/data.js'
export default {
  mounted() {
    this.updateData(DataSource.upcoming_data)
  },
  data() {
    return {
      timeStr: null,
      mission: '',
      localTimeStr: null,
      date: null,
      style: null
    }
  },
  watch: {
    upcoming_data(upcome) {
      this.updateData(upcome)
    }
  },
  methods: {
    updateData(upcome) {
      if (upcome.length > 0) {
        this.mission = upcome[0].mission
        if (upcome[0].data.launch_date_utc !== null) {
          this.date = new Date(upcome[0].data.launch_date_utc)
          this.localTimeStr = this.date.toLocaleString()
          this.updateTimer()
        }
      }
    },
    updateTimer() {
      if (this.date !== null) {
        let period = new Date(this.date - Date.now())
        let periodInSec = period.valueOf() / 1000
        if (periodInSec > 0 && periodInSec < 48 * 60 * 60) {
          this.timeStr = period.toISOString().slice(11, 11 + 8)
          if (periodInSec > 24 * 60 * 60) { this.timeStr = '1 day, ' + this.timeStr }
          this.style = 'alert-info'
          setTimeout(this.updateTimer, 1000)
        } else if (periodInSec > -10 * 60 && periodInSec <= 0) {
          this.timeStr = 'Launch in process'
          this.style = 'alert-success'
          setTimeout(this.updateTimer, 30000)
        } else {
          this.style = null
        }
      }
    }
  },
  computed: {
    upcoming_data() {
      return DataSource.upcoming_data
    }
  }}
</script>
