<template>
  <b-col md="4" sm="6" class="my-1 order-md-2 order-sm-1">
    <b-form-radio-group buttons
                        button-variant="outline-secondary"
                        v-model="model"
                        :options="options"/>
  </b-col>
</template>

<script>
export default {
  props: {
    value: {},
    options: {type: Array,
      default() {
        return [
          {text: 'All', value: 'ALL'},
          {text: 'Falcon 9', value: 'F9'},
          {text: 'Falcon Heavy', value: 'FH'}]
      }}
  },
  computed: {
    model: {
      get() { return this.value },
      set(newVal) { this.$emit('input', newVal) }
    }
  }
}
</script>
