<template>
  <div v-if="status==true" class="alert alert-primary center-elements">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading</span>
    </div>
    <span class="ml-2">Loading launch data...</span>
  </div>
</template>

<script>
import DataSource from '@/data/data.js'
export default {
  name: 'LoadingStatus',
  computed: {
    status() { return DataSource.loading_status }
  }
}
</script>

<style scoped>
  .center-elements{
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
