<template>
  <div class="fast-setting">
    <b-button variant="outline-light" size="sm" v-show="$route.name==='Launch'"
              @click="setting.masswithships=!setting.masswithships" class="m-1">Mass {{setting.masswithships ?
      'with' : 'w/o'}} ship
    </b-button>

    <b-button variant="outline-light" size="sm" class="m-1" v-show="$route.name==='Launch' || $route.name==='Cores'"
              @click="setting.defaultsort=!setting.defaultsort">{{setting.defaultsort? "New first" :"Old first"}}
    </b-button>

    <b-button variant="outline-light" size="sm" class="m-1 d-none d-md-block" v-if="$route.name==='Stats'"
              @click="setting.chart2x=!setting.chart2x">{{setting.chart2x? "Two column" : "One column"}}
    </b-button>

    <b-button variant="outline-light" size="sm" class="m-1 d-md-none" v-show="$route.name==='Stats'"
              @click="setting.chart2x=!setting.chart2x">{{setting.chart2x? "Enable circle chart" : "Disable circle chart"}}
    </b-button>
  </div>
</template>

<style>
  .fast-setting {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media (max-width: 767.98px) {
  .fast-setting button{
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
  }}
</style>
<script>
import setting from '@/data/setting.js'
export default {
  data() { return {setting} }
}
</script>
