<template>
  <div class="px-4 py-3 navbar-setting">

    <!--Main setting-->
    <OrbitSetting/>
    <b-form-group label="Items per Page">
      <b-form-radio-group buttons button-variant="outline-secondary"
                          v-model="setting.itempage"
                          :options="[10,25,50,100,500]"/>
    </b-form-group>

    <b-form-group label="Limit items for Future Launch">
      <b-form-radio-group buttons button-variant="outline-secondary"
                          v-model="setting.limitfuturerows"
                          :options="[3,4,5,6,7,9,15,30]"/>
    </b-form-group>

    <b-form-group label="View" description="Only for mobile browser">
      <b-form-radio-group buttons button-variant="outline-secondary"
                          v-model="setting.mobileview"
                          :options="[{value:false, text:'Always Desktop'},{text:'Mobile and Desktop',value:true}]"/>
    </b-form-group>

    <b-form-group label="Future Launch in Сores">
      <b-form-radio-group buttons button-variant="outline-secondary"
                          v-model="setting.viewfuturelaunchincores"
                          :options="[{value:0, text:'No'},{text:'Only for flight-proven',value:1},
                          {text:'Yes',value:2}]"/>
    </b-form-group>
    <b-dd-divider/>

    <!--Sources setting-->
    <b-dd-header>Sources</b-dd-header>
    This app use data from r/SpaceX API (SpaceX Data REST API - <b-link href="https://github.com/r-spacex/SpaceX-API">GitHub</b-link>)
    <b-dd-divider/>
    <b-form-group label="Upcoming Launch">
      <b-form-radio-group buttons button-variant="outline-secondary"
                          v-model="setting.sourceupcominglaunch"
                          :options="[{text:'disable',value:0},{text:'SpaceX Data',value:1}]"/>
    </b-form-group>

    <b-form-group label="Launch"
                  description="snapshot = local snapshot from spacexdata, with data correction (fixed data inaccuracy), without falcon 1, and other. Static data, update frequency - one day. "
                  v-if="setting.snapshot_available">
      <b-form-radio-group buttons button-variant="outline-secondary"
                          v-model="setting.sourcelaunch"
                          :options="[{text:'snapshot',value:0},{text:'SpaceX Data',value:1}]"/>
    </b-form-group>
    <div v-if="setting.patch_available">Data patcher: <span @dblclick="setting.patch=!setting.patch">{{!setting.patch ? "disabled" : "enabled"}}</span></div>
    <b-dd-divider/>

    <!--Chart setting-->
    <b-dd-header>Chart</b-dd-header>
    <b-form-group label="Two Column, w/o Pie Chart">
      <b-form-radio-group buttons button-variant="outline-secondary"
                          v-model="setting.chart2x"
                          :options="[{text:'No',value:false},{text:'Yes',value:true}]"/>
    </b-form-group>

    <b-form-group label="Height">
      <b-form-radio-group buttons button-variant="outline-secondary"
                          v-model="setting.heightchart"
                          :options="[20,24,28,32,36,40]"/>
    </b-form-group>
    <b-dd-divider/>

    <!--Table setting-->
    <b-dd-header>Table</b-dd-header>
    <b-form-group label="Mark Reused Cores">
      <b-form-radio-group buttons
                          button-variant="outline-secondary"
                          v-model="setting.markreusedcores"
                          :options="['disable', 'flag','color']"/>
    </b-form-group>
    <b-form-group label="Mark Reused Caps">
      <b-form-radio-group buttons
                          button-variant="outline-secondary"
                          v-model="setting.markreusedcaps"
                          :options="['disable', 'flag','color']"/>
    </b-form-group>
  </div>
</template>

<style>
  .navbar-setting h6 {
    text-align: center;
  }
</style>

<script>
import setting from '@/data/setting.js'
import OrbitSetting from './OrbitSetting'
export default {
  components: {OrbitSetting},
  data() { return {setting} }
}
</script>
