<template>
  <b-navbar toggleable="md" type="dark" variant="secondary" sticky>

    <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

    <b-navbar-brand href="#" class="d-none d-sm-block">SpaceX Data Viewer</b-navbar-brand>

    <b-navbar-nav style="flex-direction: row;">
      <b-nav-item to="/" exact class="mr-2 mr-md-0">Launch</b-nav-item>
      <b-nav-item to="/cores" class="mr-2 mr-md-0">Cores</b-nav-item>
      <b-nav-item to="/stats">Statistic</b-nav-item>
    </b-navbar-nav>

    <b-collapse is-nav id="nav_collapse">
      <b-navbar-nav class="ml-auto">
        <FastSetting/>

        <b-nav-item-dropdown text="Color" right v-show="$route.name==='Cores'">
          <CoresColor class="px-3 py-2"/>
        </b-nav-item-dropdown>

        <b-nav-item-dropdown text="Setting" right>
          <MainSetting class='drop-view-scroll'/>
        </b-nav-item-dropdown>

        <b-nav-item-dropdown text="URLs" right>
          <template v-for="(example,k1) in urls">
            <b-dropdown-divider v-if="k1>0" :key="k1"/>
            <b-dropdown-header :key="`h`+k1">{{example.title}}</b-dropdown-header>

            <b-dd-item v-for="(value,key) in example.items" :key="k1+`navexm`+key"
                       :to="{name:example.title,query:value.query}" exact>{{value.name}}</b-dd-item>
          </template>

        </b-nav-item-dropdown>

      </b-navbar-nav>

    </b-collapse>
  </b-navbar>
</template>

<script type="text/javascript">
import DataSource from '@/data/data.js'
import MainSetting from './MainSetting'
import FastSetting from './FastSetting'
import CoresColor from '../other/CoresColor'
export default {
  name: 'NavBar',
  components: {MainSetting, FastSetting, CoresColor},
  computed: {
    urls() { return DataSource.examples }
  }
}
</script>

<style>
  @media (max-width: 768px) {
    .navbar {
      max-height: 100vh;
      overflow: auto;
    }
  }
  @media (min-width: 768px) {
    .drop-view-scroll {
      overflow: scroll;
      max-height: 70vh;
    }
  }

</style>
