<template>
  <b-form-group label="Aggregate to LEO" description="Using in stat">
    <b-form-checkbox-group buttons
                           button-variant="outline-secondary"
                           v-model="orbitSelected"
                           :options="options"/>
  </b-form-group>
</template>

<script>
import setting from '@/data/setting.js'

export default {
  mounted() {
    this.orbitSelected = this.setting.leoorbitaggregate
  },
  data() {
    return {
      setting,
      orbitSelected: [],
      options: [
        {text: 'PO', value: 1},
        {text: 'SSO', value: 2},
        {text: 'ISS', value: 3},
        {text: 'ALL', value: -1}]
    }
  },
  watch: {
    orbitSelected(newVal, oldVal) {
      if (newVal.includes(-1) && !oldVal.includes(-1)) {
        this.orbitSelected = [1, 2, 3, -1]
      } else if (!newVal.includes(-1) && oldVal.includes(-1)) {
        this.orbitSelected = []
      }
      let num = this.orbitSelected.filter(i => i > 0).length
      let index = this.orbitSelected.indexOf(-1)
      if (num < 3 && index !== -1) delete this.orbitSelected[index]
      else if (num === 3 && index === -1) this.orbitSelected.push(-1)

      this.setting.leoorbitaggregate = newVal.filter(i => i !== -1)
    }
  }
}
</script>
