<template>
  <div>

    <Table :items="items" :fields="fields" :perPage="setting.itempage"></Table>
  </div>
</template>

<style>

  @media (min-width: 567px) {
    .core-all-land {
      background-color: rgba(150, 150, 150, 0.1);
    }
  }

  .core-secondary-item {
    display: none !important;
  }

  .c-payload {
    padding: 3px !important;
    overflow-x: hidden;
  }

  .c-payload::before {
    padding: 12px 0 12px 12px !important;
    margin: 0;
  }

</style>
<script>
import Table from './CoreTable'
import DataSource from '@/data/data.js'
import setting from '@/data/setting.js'

export default {
  components: {Table},
  data() {
    return {setting}
  },
  methods: {
    funcReverse(obj) {
      if (this.setting.defaultsort) {
        return obj.slice().reverse()
      } else return obj
    }
  },
  computed: {
    items() {
      return this.funcReverse(DataSource.blockDataBySerialWithStat)
    },
    fields() {
      return [
        {key: 'serial', label: '#'},
        {key: 'version'},
        {key: 'firstLaunchDate', label: 'First Launch', class: 'text-nowrap'},
        {key: 'lastLaunchDate', label: 'Last Launch', class: 'text-nowrap'},
        {key: 'launchCount', label: 'Launch'},
        {key: 'missions', tdClass: 'c-payload'},
        {key: 'land.Ret', label: 'Return', class: 'core-all-land'},
        {key: 'land.All', label: 'All Land', class: 'core-secondary-item'},
        {key: 'land.RTLS', label: 'Ground', class: 'core-secondary-item'},
        {key: 'land.ASDS', label: 'Drone', class: 'core-secondary-item', tdClass: 'core-secondary-item'},
        {key: 'land.Ocean', label: 'Ocean', class: 'core-secondary-item'}]
    }
  }
}
</script>
