<template>
  <div>

    <TableTop title="Cores Data" :page.sync="page" :filter="filter" :tipsFilter="fields.map(i=>i.key)"/>
    <b-table v-bind="tableSetting" :sort-compare="deepSortFunc" @filtered="onFiltered">

      <template slot="missions" slot-scope="row">
        <b-button class="m-1 c-payload-overflow" :variant="value.status" :to="urlToLaunch(value)" v-for="(value, key) in row.value"
                  :key="key">{{ value.name}}
        </b-button>
      </template>

      <template slot="serial" slot-scope="row">
        <b-link :to="{name:'Launch',query:{coresSerial:row.value,op:'in'}}">{{row.value}}</b-link>
      </template>

    </b-table>
  </div>
</template>

<style>
  .c-payload-overflow {
    max-width: 95%;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
  }

  @media (min-width:567px) {
    .c-payload-overflow{
      max-width: 220px
    }
  }

</style>
<script>
import TableMixin from './table/TableMixin'
import TableTop from './table/TableTop'

export default {
  components: {TableTop},
  mixins: [TableMixin],
  methods: {

    urlToLaunch(value) {
      if (value.flightNumber !== undefined) {
        return {name: 'Launch', query: {flight: value.flightNumber}}
      } else {
        return {name: 'Launch', query: {payload: value.name, op: 'st'}}
      }
    }
  }

}
</script>
