<template>
  <div>

    <TableTop :title="title" :page.sync="page" :filter="filter" :classTitle="this.$slots.center? 'order-sm-7':''"
              :tipsFilter="['flight','type','date','version','serial','coresFlight','payload','mass', 'massWithShips' ,'orbit','land']">
      <!--     //['flight','type','date','coresVersion','coresSerial','coresFlight','payloadNames','fullMassWithShips' //,'fullMass','orbit','landingStatus']" -->
      >
      <template slot="left" v-if="this.$slots.left">
        <slot name="left"/>
      </template>
      <template slot="center" v-if="this.$slots.center">
        <slot name="center"/>
      </template>
      <template slot="right" v-if="this.$slots.right">
        <slot name="right"/>
      </template>
    </TableTop>

    <b-table v-bind="tableSetting" @filtered="onFiltered">

      <template slot="row-details" slot-scope="row">
          <LaunchDetail :launch="row.item"/>
      </template>

      <template slot="landingStatus" slot-scope="row">
        <div class="tm-short" v-for="(value, key) in row.item.landingVariant.short" :key="`ltls`+key">{{value}}</div>
        <div class="tm-full" v-for="(value, key) in row.item.landingVariant.full" :key="`ltlsfull`+key">{{value}}</div>
      </template>

      <template slot="coresSerial" slot-scope="row">
        <div v-for="(value, key) in row.value" :key="key">
          <b-link :to="{name:'Cores',query:{serial:value}}">{{value}}</b-link>
        </div>
      </template>
      <template slot="coresFlight" slot-scope="row">
        <div v-for="(value,key) in row.value" :key="key" :class="((value>1)? 'green' : 'grey')+ '!important'">
          {{value}}
        </div>
      </template>

      <template slot="payloadNames" slot-scope="row">
        <b-button class="m-1 payload-overflow" @click.stop="row.toggleDetails" @dblclick="copyToClipboard(value)" variant="secondary" v-for="(value, key) in row.item.payloadNames"
                  :key="key" v-if="row.item.payloadNames.length<=3">{{value}}
        </b-button>
        <b-button class="m-1 payload-overflow" @click.stop="row.toggleDetails" @dblclick="copyToClipboard(row.item.mission)" variant="secondary"
                  v-if="row.item.payloadNames.length>3">{{row.item.mission}}
        </b-button>
      </template>
      <template slot-scope="row" slot="coresVersion">
        <div v-for="(value,key) in row.value" :key="key">{{value}}</div>
      </template>

      <template slot-scope="row" slot="coresFlight">
        <div v-for="(value,key) in row.value" :key="key">{{value}}</div>
      </template>

      <template slot="mass" slot-scope="data">
        <div class="lt-with-sub">
          {{data.value}}
          <div v-if="data.item.payloadsMass.length>1 && data.item.payloadsMass.length<4">
            <span>({{data.item.payloadsMass.join("+")}})</span></div>
        </div>
      </template>
      <template slot="massWithShips" slot-scope="data">
        <div class="lt-with-sub">
          {{data.value}}
          <div v-if="data.item.payloadsMassWithShips.length>1">
            <span>({{data.item.payloadsMassWithShips.join("+")}})</span>
          </div>
        </div>

      </template>

      <template slot="dateFuture" slot-scope="data">
        <div class="lt-with-sub">
          {{data.value}}
          <div v-if="data.item.staticFireDate">
            <span>(SF {{data.item.staticFireDate}})</span>
          </div>
        </div>
      </template>

      <template slot="actions" slot-scope="row">
        <b-button size="sm" @click.stop="row.toggleDetails">
          {{ row.detailsShowing ? 'Hide' : 'Show' }}
        </b-button>
      </template>

    </b-table>
  </div>
</template>

<style type="text/css">

  .lt-with-sub {
    line-height: 1;
  }

  .lt-with-sub > div {
    margin-bottom: -15px;
  }

  .lt-with-sub > div > span {
    font-size: 8pt;
    color: grey;
  }

  @media (max-width: 767.98px) {
    .payload-overflow {
      max-width: 95%;
      text-overflow: ellipsis;
      overflow-x: hidden;
    }
  }

</style>
<script>
import TableMixin from './table/TableMixin'
import TableTop from './table/TableTop'
import LaunchDetail from './LaunchDetail'

export default {
  mixins: [TableMixin],
  components: {TableTop, LaunchDetail},
  props: {
    viewPageable: {type: Boolean, default: true},
    title: {}
  }
}
</script>
