<template>
  <div :class="reuseTableStyle">
    <CountDown/>
    <Table v-if="!setting.upcomingDisable" :items="itemsFuture" :fields="fieldsFuture" :filterExt='filter'
           title="Upcoming Launch"
           :sort="{dateFuture:'dateFuturePseudoForSort'}"
           :items-per-page="allFutureDisplayed ? Number.MAX_SAFE_INTEGER : futureRowsMax" v-on:rows="(d)=>futureRows.current=d">
      <FalconFamily v-model="falconFamily" slot="center"/>
    </Table>
    <b-button v-if="!setting.upcomingDisable" v-show="!allFutureDisplayed"
              size='sm' variant='outline-secondary' class='m-0 btn-all-future'
              @click="futureRows.all=true">View All</b-button>
    <Table :items="items" :fields="fields" :filterExt='filter' title="Past Launch">
      <FalconFamily v-model="falconFamily" slot="left" v-if="setting.upcomingDisable"/>
      <b-col md='4' class='order-12' slot="right" v-if="!setting.upcomingDisable"></b-col>
    </Table>
  </div>
</template>

<style>
  .l-no-wrap {
    white-space: nowrap;
    overflow-x: hidden;
  }

  @media (max-width: 768px) {
    .th-short {
      min-width: 30px;
      max-width: 30px;
      text-overflow: ellipsis;
      overflow-x: hidden;
    }

  }

  @media (max-width: 768px) and (min-width: 576px) {

    .l-payload {
      max-width: 170px;
      min-width: 130px;
    }
  }

  .l-payload {
    padding: 3px !important;
    overflow-x: hidden;
  }

  .l-payload::before {
    padding: 12px 0 12px 12px !important;
    margin: 0;
  }

  .show-reuse-flag td.table-reused {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0) calc(100% - 10px), green);
  }

  .show-reuse-color td.table-reused {
    background-color: rgba(67, 203, 115, 0.21);
  }

  .show-reuse-caps-flag td.table-reused-caps {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0) calc(100% - 10px), #1794dc);
  }

  .show-reuse-caps-color td.table-reused-caps {
    background-color: rgba(96, 190, 203, 0.3);
  }

  .btn-all-future{
    margin-top: calc(-17px - 1rem) !important;
    background-color: rgb(243,243,243);
    float:right;
  }

</style>

<script>
import Table from './LaunchTable'
import DataSource from '@/data/data.js'
import setting from '@/data/setting.js'
import CountDown from './other/Countdown'
import FalconFamily from './other/FalconFamily'

export default {
  components: {FalconFamily, Table, CountDown},
  mounted() {
    this.$on('filterSet', (value) => { this.filter = value })
  },
  data() {
    return {
      setting,
      falconFamily: 'ALL',
      filter: '',
      futureRows: {
        all: false,
        current: 0
      }
    }
  },
  methods: {
    funcReverse(obj) {
      if (this.setting.defaultsort) {
        return obj.slice().reverse()
      } else return obj
    }
  },
  computed: {
    futureRowsMax() { return setting.limitfuturerows },
    reuseTableStyle() {
      return [setting.markreusedcores, setting.markreusedcaps].map((i, ind) =>
        `show-reuse${ind === 1 ? '-caps' : ''}-${i}`
      )
    },
    allFutureDisplayed() {
      return this.futureRows.current < this.futureRowsMax || this.futureRows.all
    },
    items() {
      return this.funcReverse(DataSource.launch_data).filter(i => (this.falconFamily === 'ALL' || i.type === this.falconFamily))
    },
    itemsFuture() {
      return DataSource.upcoming_data.filter(i => (this.falconFamily === 'ALL' || i.type === this.falconFamily))
    },
    fields() {
      return [{key: 'flight', label: '#'},
        {key: 'type', sortable: false, class: 'tm-full-cell'},
        {key: 'coresVersion', 'sortable': true, label: 'Version', thClass: 'th-short'},
        {key: 'date', sortable: false, label: 'Date', tdClass: 'l-no-wrap'},
        {key: 'coresSerial', label: 'Core'},
        {key: 'coresFlight', label: 'Flight', thClass: 'th-short'},
        {key: 'payloadNames', label: 'Payload', tdClass: 'l-payload', class: 'payload-limit'},
        {key: (this.setting.masswithships ? 'massWithShips' : 'mass'), label: 'Mass'},
        {key: 'orbit'},
        {key: 'landingStatus', label: 'Landing'}]
    },
    fieldsFuture() {
      return [{key: 'type', sortable: false},
        {key: 'coresVersion', label: 'Version'},
        {key: 'dateFuture', label: 'Date', sortable: true, tdClass: 'l-no-wrap'},
        {key: 'coresSerial', label: 'Serial'},
        {key: 'coresFlight', label: 'Flight', vertical: true},
        {key: 'payloadNames', tdClass: 'l-payload'},
        {key: 'orbit'},
        {key: (this.setting.masswithships ? 'massWithShips' : 'mass'), label: 'Mass'},
        {key: 'landingStatus', label: 'Land'}]
    }
  }
}
</script>
