<template>
  <div>
    <b-card>
      <template v-for="(item,index) in mainInfo" v-if="item.data!==null">
        <b-row :key="index+'ltdvr'">
          <b-col md="2" class="detail-title">{{item.title}}</b-col>
          <b-col class="detail-data">{{item.data}}</b-col>
        </b-row>
        <hr v-if="item.line" :key="index+'ltdvrl'"/>
      </template>

      <hr v-if="linkAvailable"/>
      <b-row v-if="linkAvailable">
        <b-col md="2" class="detail-title mt-2">Links</b-col>
        <b-col class="detail-data">
          <b-button size="sm" class="m-1 ml-md-0" v-for="(value,key) in linkDetail" :key="key" variant="outline-dark"
                    :href="value.link" target="_blank">{{value.title}}
          </b-button>
          <b-dropdown  size="sm" variant="outline-dark" right text="Reddit"  v-if="!launch.future">
            <b-dropdown-item v-for="(value,key) in redditLink" :key="key+'ltredd'" :href="value.link" target="_blank">{{value.title}}</b-dropdown-item>
          </b-dropdown>
          <b-button size="sm" class="m-1 ml-md-0" v-for="(value,key) in redditLink" :key="key+'ltreddfut'" variant="outline-dark"
                    :href="value.link" target="_blank" v-if="launch.future">{{'Reddit '+ value.title}}
          </b-button>
          <b-btn size="sm" class="m-1" variant="outline-success" @click="image=true" v-if="launch.data.links.flickr_images.length>0">Show photos</b-btn>
        </b-col>

      </b-row>

      <b-button class="json-button" variant="outline-secondary" size='sm' @click="jsontree=!jsontree">JSON</b-button>
    </b-card>

    <b-card v-if="jsontree" class="mt-2">
      <tree-view :data="launch.data" :options="{maxDepth: 5}" class="tree"/>
    </b-card>

    <div v-if="image" class="overlay">
      <b-carousel class="overlay-content" controls indicators background="#000"
                  v-model="image_slide">
        <template v-for="photo_link in launch.data.links.flickr_images">
          <b-carousel-slide :key="photo_link">
            <div slot="img" class="photo-container">
              <img class="photo" :src="photo_link"/>
            </div>
          </b-carousel-slide>
        </template>
      </b-carousel>
      <button type="button" class="close" aria-label="Close" style="position:absolute;z-index:2001;top:15px;right:15px;color:white;padding:20px" @click="image=false">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</template>

<style>
  @media (min-width: 768px) {
    .detail-title {
      text-align: right !important;
    }
    .detail-data {
      text-align: left !important;
    }
  }

  @media (max-width: 767.98px) {
    .detail-title {
      display: none;
    }
  }
  .card-body > hr{
    margin: 0.6rem;
  }
  .json-button {
    position: absolute;
    right: -1px;
    bottom: -1px;
    padding: .05rem .5rem;
    color:rgba(0,0,0, 0.125);
    border-color: rgba(0,0,0, 0.125);
  }

  .tree-view-item-value-string {
    color: green;
  }

  .tree-view-item-value-boolean {
    color: red;
  }

  .tree-view-item-value-number {
    color: blue;
  }

  .tree-view-item-value-null {
    color: #ff99f3;
  }

  #app .tree-view-item-leaf {
    white-space: normal !important;
  }

  .tree {
    text-align: left !important;
    max-width: 1280px;
    width: calc(100vw - 120px);
  }

  .photo-container{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    /*flex-direction: column;*/
  }

  .photo{
    max-height:calc(100vh - 30px);
    max-width:100%;
    margin:auto;
  }

  .overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    margin: 15px;
    height:calc(100% - 30px);
    overflow:hidden;
    width:calc(100% - 30px);
    text-align: center;
  }

  .carousel-inner, .carousel-item{
    height:100%;
  }
</style>

<script>
export default {
  props: {
    launch: {}
  },
  data() {
    return {jsontree: false, image_slide: 0, image: false}
  },
  computed: {
    linkDetail() {
      return [{title: 'Video', link: this.links.video_link},
        {title: 'Article', link: this.links.article_link},
        {title: 'PressKit', link: this.links.presskit},
        {title: 'Telemetry', link: this.launch.data.telemetry.flight_club},
        {title: 'Cargo', link: this.mainPayload.cargo_manifest},
        {title: 'Wiki', link: this.links.wikipedia}
      ].filter(i => (i.link !== null && i.link !== undefined))
    },
    redditLink() {
      return [{title: 'Campaign', link: this.links.reddit_campaign},
        {title: 'Launch', link: this.links.reddit_launch},
        {title: 'Recovery', link: this.links.reddit_recovery},
        {title: 'Media', link: this.links.reddit_media}
      ].filter(i => (i.link !== null && i.link !== undefined))
    },
    links() {
      return this.launch.data.links
    },
    mainPayload() {
      return this.launch.payloads[0]
    },
    linkAvailable() {
      return (this.redditLink.length + this.linkDetail.length) > 0
    },
    mainInfo() {
      return [
        {title: 'Detail', data: this.launch.data.details, line: true},
        {title: 'Dragon info', data: this.capsInfo},
        {title: 'Customers', data: this.customers},
        {title: 'Launch Site', data: this.launchSiteInfo}
      ]
    },
    capsInfo() {
      if (this.mainPayload.cap_serial !== undefined && this.mainPayload.cap_serial !== null) {
        const type = this.mainPayload.payload_type
        const serialAndReuse = `${this.mainPayload.cap_serial + (this.launch.data.reuse.capsule ? ', reused' : '')}`
        const massReturn = (Number.isFinite(this.mainPayload.mass_returned_kg)
          ? ` / Return: ${this.mainPayload.mass_returned_kg} kg` : '')
        return `${type} (${serialAndReuse}) ${massReturn}`
      }
      return null
    },
    launchSiteInfo() {
      let site = this.launch.data.launch_site
      if (site.site_name === null || site.site_name_long === null) return null
      return `${site.site_name} / ${site.site_name_long}`
    },
    customers() {
      return _.flatMap(this.launch.payloads, i => i.customers).join(', ')
    }
  }}
</script>
