<template>
  <b-row>
    <YearCharts v-for="(data,key) in tableData" :stats="data.stat" :title="data.title"
                :bar="data.bar" :pie="data.pie" :key="key"/>
    <b-col cols="12">
      <b-button variant="outline-secondary" v-if="!moreChart" @click="moreChart=true">More Chart</b-button>
    </b-col>
    <YearCharts v-if="moreChart" v-for="(data,key) in tableDataMore" :stats="data.stat" :title="data.title"
                :bar="data.bar" :pie="data.pie" :key="key+100"/>
    <b-col cols="12"></b-col>
    <b-col lg="6" :md="data['table_md']||6" v-for="(data,key) in tableData" :key="key+7000">
      <StatsTable :stats="data.stat" :title="data.title"/>
    </b-col>

  </b-row>
</template>

<script type="text/javascript">
/* global Chart */
import StatsTable from './StatsTable.vue'
import YearCharts from './chart/ComboBarWithPieYear.vue'
import DataSource from '../data/data'
import setting from '../data/setting'

const green = 'rgb(51,159,52)'
const green2 = 'rgb(100,169,92)'
const red = 'rgb(212,42,47)'
const red2 = 'rgb(212,62,67)'
const blue = 'rgb(38,120,178)'
const blue2 = 'rgb(78,100,178)'
const orange = 'rgb(253, 127, 40)'
const mg3 = 'rgb(137,66,117)'
const grey = 'rgb(100,100,100)'

export default {
  components: {YearCharts, StatsTable},
  mounted() {
    Chart.plugins.register({
      beforeDraw: function(c, animationProgress) {
        if (animationProgress === 1) {
          let ctx = c.chart.ctx
          ctx.fillStyle = 'white'
          ctx.fillRect(0, 0, c.chart.width, c.chart.height)
        }
      }
    })
  },
  data() {
    return {
      orbitSelected: [1],
      setting,
      allOrbit: ['LEO', 'PO', 'SSO', 'ISS', 'GTO', 'Other'],
      orbitColor: [blue2, mg3, orange, red2, green2, grey],
      leoOrbit: [1, 2, 3],
      moreChart: false,
      options: [
        {text: 'PO', value: 1},
        {text: 'SSO', value: 2},
        {text: 'ISS', value: 3}]
    }
  },
  methods: {
    barMass() {
      return {
        formatter(i) {
          return (i / 1000).toFixed(1)
        },
        display: 'size',
        tick(i) {
          return i / 1000
        }
      }
    }
  },
  computed: {
    orbitByYear() {
      let launchStat = _.groupBy(DataSource.launch_data, 'year')
      let launchOrbitByYear = Object.values(launchStat).map(year => _.groupBy(year, 'orbit'))
      launchOrbitByYear.forEach(launchYear => {
        let otherOrbit = Object.keys(launchYear).filter(j => !this.allOrbit.includes(j))
        launchYear['Other'] = []
        otherOrbit.forEach(x => {
          launchYear['Other'].push(...launchYear[x])
          delete launchYear[x]
        })
      })
      return {
        year: Object.keys(launchStat),
        data: Object.values(launchOrbitByYear).map(i => this.allOrbit.map(orbit => i[orbit] || []).reduce((res, item, index) => {
          (this.orbitDeselected.includes(index) ? res[0] = res[0].concat(item) : res.push(item))
          return res
        }, [])),
        labels: this.allOrbit.filter((i, ind) => !this.orbitDeselected.includes(ind)),
        color: this.orbitColor.filter((i, ind) => !this.orbitDeselected.includes(ind))
      }
    },
    orbitDeselected() {
      return this.setting.leoorbitaggregate
    },
    tableData() {
      return [{stat: this.launchDataByYear, title: 'Launch Data'},
        {stat: this.landingData, title: 'Landing Cores Data'},
        {stat: this.reusedLaunchCoresDataByYear, title: 'Reused Launch (Cores)'},
        {stat: this.launchOrbitByYear, title: 'Launch By Orbit'},
        {
          stat: this.launchMassOrbitByYear,
          title: 'Mass To Orbit',
          bar: this.barMass(),
          pie: {display: 8},
          table_md: 12
        }, {
          stat: this.launchMassOrbitByYearWithShips,
          title: 'Mass To Orbit (With Ships)',
          bar: this.barMass(),
          pie: {display: 8},
          table_md: 12
        }
      ]
    },
    tableDataMore() {
      return [{stat: this.landingSuccessByType, title: 'Success Land By Type'},
        {stat: this.launchRocketByType, title: 'Rocket By Type'}
      ]
    },
    launchRocketByType() {
      let launchStat = _.groupBy(DataSource.launch_data, 'data.launch_year')
      return {
        year: Object.keys(launchStat),
        data: Object.values(launchStat)
          .map(year => year.map(dataFlight => dataFlight.type))
          .map(i => _.countBy(i))
          .map(i => [i.F9 || 0, i.FH || 0]),
        labels: ['Falcon 9', 'Falcon Heavy'],
        color: ['rgb(30,130,90)', 'rgb(150, 36, 16)']
      }
    },
    landingData() {
      return {
        year: Object.keys(DataSource.blockDataByYear),
        data: Object.values(DataSource.blockDataByYear)
          .map(year => year.map(dataFlight =>
            (dataFlight.core.land_success === true ? (dataFlight.core.landing_type === 'Ocean' ? 'o' : 'y') : ((dataFlight.core.landing_type === null) ? 'n' : 'f'))))
          .map(i => _.countBy(i))
          .map(i => [i.y || 0, i.o || 0, i.f || 0, i.n || 0]),
        color: [green, blue, red, 'grey'],
        labels: ['Recovery', 'Ocean', 'Fail', 'No attempt']
      }
    },
    landingSuccessByType() {
      return {
        year: Object.keys(DataSource.blockDataByYear),
        data: Object.values(DataSource.blockDataByYear)
          .map(year => year.map(dataFlight =>
            (dataFlight.core.land_success !== true ? 'fail' : (dataFlight.core.landing_type === null) ? 'noattmp' : dataFlight.core.landing_type)))
          .map(i => _.countBy(i))
          .map(i => [i.RTLS || 0, i.ASDS || 0, i.Ocean || 0]),
        color: ['rgb(180, 140, 110)', blue, 'rgba(170,170,170,0.9)'],
        labels: ['Ground', 'Drone', 'Ocean']
      }
    },
    launchDataByYear() {
      let launchStat = _.groupBy(DataSource.launch_data, 'data.launch_year')
      return {
        year: Object.keys(launchStat),
        data: Object.values(launchStat)
          .map(year => year.map(dataFlight => dataFlight.launchSuccess))
          .map(i => _.countBy(i))
          .map(i => [i.true || 0, i.false || 0]),
        labels: ['Success', 'Fail'],
        color: [green, red]
      }
    },
    launchOrbitByYear() {
      return Object.assign({}, this.orbitByYear,
        {data: this.orbitByYear.data.map(i => i.map(d => d.length))})
    },
    launchMassOrbitByYear() {
      return Object.assign({}, this.orbitByYear,
        {data: this.orbitByYear.data.map(i => i.map(d => _.sumBy(d.filter(j => j.launchSuccess), 'fullMass')))})
    },
    launchMassOrbitByYearWithShips() {
      return Object.assign({}, this.orbitByYear,
        {data: this.orbitByYear.data.map(i => i.map(d => _.sumBy(d.filter(j => j.launchSuccess), 'fullMassWithShips')))})
    },
    reusedLaunchCoresDataByYear() {
      return {
        year: Object.keys(DataSource.blockDataByYear),
        data: Object.values(DataSource.blockDataByYear)
          .map(year => year.map(data => data.core.reused))
          .map(i => _.countBy(i))
          .map(i => [i.true || 0, i.false || 0]),
        labels: ['Reused', 'New'],
        color: [orange, blue]
      }
    }

  }
}

</script>
