<template>
  <div>
    <h6 class="mx-auto mt-2" v-if="title">{{title}}</h6>
    <b-table show-empty bordered
             striped
             :items="dataCompute"
             :fields="fieldsCompute"
             :sort-by.sync="sortBy"
             :sort-desc.sync="sortDesc"
             :sort-compare="sc"
             small
    >

    </b-table>
  </div>
</template>

<script>
export default {
  props: {
    stats: {
      default: {
        data: [],
        year: [],
        labels: []
      }
    },
    title: null
  },
  data() {
    return {
      sortBy: null,
      sortDesc: false
    }
  },
  computed: {
    fieldsCompute() {
      return ['year', ...this.stats.labels.map(i => {
        return {key: i, sortable: true}
      })]
    },
    dataCompute() {
      let x = this.stats.data.map((i, indd) => i.reduce((res, val, ind) => {
        res[this.stats.labels[ind]] = val
        return res
      }, {year: this.stats.year[indd]}))
      let t = _.unzip(this.stats.data).map(i => i.reduce((j, i) => j + i, 0)).reduce((res, val, ind) => {
        res[this.stats.labels[ind]] = val
        return res
      }, {year: 'Total', _rowVariant: 'secondary'})
      return [...x, t]
    }
  },
  methods: {
    sc(a, b, key) {
      if (this.sortDesc) {
        if (a.year === 'Total') return -1
        if (b.year === 'Total') return 1
      }
      if (typeof a[key] === 'number' && typeof b[key] === 'number') {
        // If both compared fields are native numbers
        return a[key] < b[key] ? -1 : (a[key] > b[key] ? 1 : 0)
      } else {
        // Stringify the field data and use String.localeCompare
        return toString(a[key]).localeCompare(toString(b[key]), undefined, {
          numeric: true
        })
      }
    }

  }
}
</script>
