<template>
  <b-row>

    <slot name='left'>
      <b-col md="4" sm="6" class="my-1 order-3 order-sm-2 order-md-1" style="float: none; margin: 0 auto;" :class="classTitle">
        <h5 @dblclick="tableSave" class="my-2">{{title}}</h5>
    </b-col>
    </slot>

    <slot name='center'>
      <b-col md="4" sm="12" class="my-1 order-4 order-sm-6 order-md-2">
        <b-pagination v-show="viewPagination" align="center" :total-rows="page.totalRows" :per-page="page.perPage"
                      :value="page.currentPage" @input="z=>{this.$parent.$emit('page',z)}" class="my-0"/>
      </b-col>
    </slot>
    <slot name='right'>
      <b-col md="4" sm="6" class="my-1 order-1 order-sm-2 order-md-3">
        <b-input-group>
          <b-dropdown v-if="tipsFilter.length>1" variant="outline-secondary" slot="prepend">
            <b-dropdown-item v-for="(val,key) in tipsFilter" :key='`tpf`+key'
                             @click="filterSet(val);$refs.filterInput.$el.focus()">{{val}}
            </b-dropdown-item>
          </b-dropdown>
          <b-form-input ref="filterInput" :value="filter" @input="(val)=>{if(filter!==val)filterSet(val)}"
                        @keydown.enter.native="keydown_handler" placeholder="Type to Search"/>
          <b-input-group-append>
            <b-btn :disabled="!filter" @click="filterSet('')">Clear</b-btn>
          </b-input-group-append>
        </b-input-group>
      </b-col>
    </slot>
  </b-row>
</template>
<script type="text/javascript">
import {encodeToQuery} from '../../other/FilterConvert'

export default {
  props: {
    title: {},
    page: {},
    filter: {},
    tipsFilter: {
      default: () => {
        return []
      }
    },
    classTitle: {default: ''}
  },

  computed: {
    viewPagination() {
      return this.page.totalRows / this.page.perPage > 1
    }
  },
  data() {
    return {temp: '', saving: false, timer: null}
  },
  methods: {
    filterSet(value, saveNow) {
      if (value === '' && Object.keys(this.$route.query).length > 0) {
        this.$router.push({query: {}})
      }
      this.$parent.$emit('filterSet', value)
      clearTimeout(this.timer)
      if (saveNow) {
        this.$router.push(encodeToQuery(value))
      } else {
        let path = this.$route.fullPath
        this.timer = setTimeout(() => {
          if (this.$route.fullPath === path) this.$router.push(encodeToQuery(value))
        }, 10000)
      }
    },
    keydown_handler(event) {
      this.filterSet(event.target.value, true)
    },
    tableSave() {
      this.$parent.$emit('tableSave')
    }
  }
}

</script>
