<template>
  <div id="app">
    <NavBar/>
    <LoadingStatus/>
    <b-container fluid>
      <keep-alive>
        <router-view/>
      </keep-alive>
    </b-container>
  </div>
</template>

<script>
import NavBar from './components/navbar/NavBar'
import LoadingStatus from './components/other/LoadingStatus'
import '../node_modules/bootstrap/dist/css/bootstrap.min.css'
export default {

  name: 'App',
  components: {
    NavBar, LoadingStatus
  }
}
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    /*  -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;*/
    text-align: center;
    color: #2c3e50;
    max-width: 1400px;
    margin: auto;
    background-color: #fff;
  }

  body {
    background-color: #eee;
  }

</style>
